/*
examples
font-size, font inheritance
color, rgb v rgba v hex
font family
background-color
background-image
*/
body {
	background-color: #dddddb;
	font-family: Lato;
}
audio {
	padding-top: 20px;
	padding-left: 20px;
	display: block;
	width: 500px;
}
.top {
	background-color: #000000;
	height: 300px;
}
@font-face {
    font-family:"RoadGeek";
    src: url("Roadgeek 2005 Series 3B.ttf") /* TTF file for CSS3 browsers */
}
.title {
	padding-left: 20px;
	padding-top: 20px;
	color: #ffffff;
	font-size: 172px;
	text-align: center;
	font-family:"RoadGeek";
	overflow: hidden;
}
.title-holder {
	margin: auto;
}


#a {
	color: #f5ec48;
}
#b {
	color: #4385c5;
}
#c {
	color: #f16323;
}
#e {
	color: #45b64a;
}
#f {
	color: #ecb31d;
}
#g {
	color: #ec2427;
}
#h {
	color: #a3dde8;
}
#i {
	color: #0163a4;
}
.album {
	width: 110%;
}
.letter {
	display: inline-block;
	float: left;
}
.entry {
	display: block;
	height: 200px;
}
.first {
	background-color: #111728;
}
.second {
	background-color: #8397a7;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 24px;
	color: #ffffff;
}
.third {
	background-color: #294b77;
}
.frame {
	height: 250px;
	overflow: hidden;
	display: inline;
}
@media (min-width: 828px) {
	.frame {
		width: 25%;
		height: 250px;
		overflow: hidden;
		display: inline;
	}
}
.one-height {
	height: 450px;
}
.two-height {
	height: 300px;
}
.three-height {
	height: 250px;
}
.song {
	color: #ffffff;
	font-size: 18px;
	padding-top: 20px;
	padding-left: 20px;
	width: auto;
	display: inline;
}
.artist {
	color: #ffffff;
	font-size: 24px;
	width: auto;
	display: inline;
}
.description {
	color: #ffffff;
	font-size: 14px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}