---
layout: default
---
<div>
  <div style="text-align: center; background-color: white; border-bottom: 1px solid BLACK" class="jumbotron" >
      <img style="border-radius: 50%" src="prof.jpg">
      <h1>Jared Rulison</h>
      <p>Software Engineer and Musician</p>
  </div>
  <div style="text-align: left" class="col-md-6">
    <h2> Computer Science </h2>
    {% for post in site.categories.cs limit: 10 %}
      <div style="text-align: left" class="row">
        <div class="col-md-6">
           <h3>{{ post.title }}</h3>
           <h4>{{ post.date | date_to_long_string }}</h4>
           <h4> {{ post.content | truncatewords: 15 }}</h4>
           <p>
             <a href="{{ post.url }}">Read Post</a>
           </p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div style="text-align: left" class="col-md-6">
    <h2> Music </h2>
      {% for post in site.categories.music limit: 10 %}
      <div style="text-align: left" class="row">
        <div class="col-md-6">
          <h3>{{ post.title }}</h3>
         <h4>{{ post.content | truncatewords: 15 }}</h4>
         <p>
           <a href="{{ post.url }}">Read Post</a>
         </p>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
