/*
examples
font-size, font inheritance
color, rgb v rgba v hex
font family
background-color
background-image
*/

#dude {
	font-size: 100px;
	font-family: 'Papyrus';
}

.warfare {
	font-family: 'Lato';
}
