/*
examples
font-size, font inheritance
color, rgb v rgba v hex
font family
background-color
background-image
*/
body {
	background-color: #dddddb;
	font-family: Lato;
	color: #ffffff;
}
audio {
	padding-top: 20px;
	padding-left: 20px;
	display: block;
	width: 500px;
}

a {
	color: inherit;
}
#face {
	width: 100%;
	height: auto;
}
.top {
	background-color: #89abad;
	height: 400px;
	overflow: hidden;
}
.desc {
	margin: 0;
	background-color: #111728;
	font-size: 26px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}
.coursework {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
}
.skills {
	padding-top: 10px;
	padding-left: 20px;
}
.experience {
	padding-top: 10px;
	padding-left: 20px;
	font-size: 15px;
	padding-right: 20px;
}
.main {
	/*position: absolute;
	top: 200px;
	left: 20%;*/
	padding-top: 10px;
	/*padding-left: 20px;*/
	/*padding-right: 20px;*/
	display: block;
	width: 100%;
}
.title {
	position: absolute;
	padding-left: 20px;
	padding-top: 140px;
	color: #ffffff;
	font-size: 36px;
}
.entry {
	display: block;
	height: 600px;
}
.first {
	background-color: #111728;
}
.second {
	background-color: #8397a7;
}
.third {
	background-color: #294b77;
}
.song {
	color: #ffffff;
	font-size: 18px;
	padding-top: 20px;
	padding-left: 20px;
	width: auto;
	display: inline;
}
.artist {
	color: #ffffff;
	font-size: 24px;
	width: auto;
	display: inline;
}
.description {
	color: #ffffff;
	font-size: 14px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
